body {
	overflow: hidden;
	display: block;
}

.test-out {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: 50%;
	overflow-x:scroll;
	display: block;
}

.test-inner {
	width: 2000px;
	overflow-x:scroll;
	display: block;
}